<!DOCTYPE html>
<html>
	<head>
		<title><%= titre %></title>
		<%= csrf_meta_tag %>

		<!-- La ligne suivante réfère au fichier 'app/views/layouts/_stylesheets.html.erb' -->
		<%= render('layouts/stylesheets') %>

	</head>
	<body>
		<div class="container">

			<!-- La ligne suivante réfère au fichier 'app/views/layouts/_header.html.erb' -->
			<%= render('layouts/header') %>

			<!-- La section suivante inclut le corps de la page -->
			<section class="round">

				<!-- Affichage d'un message 'flash' de bienvenue. -->
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "flash #{key}") %>
				<% end %>

				<!-- Affichage du reste de la page -->
				<%= yield %>
			</section>

			<!-- La ligne suivante réfère au fichier 'app/views/layouts/_footer.html.erb' -->
			<%= render('layouts/footer') %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
